{% extends 'base.html' %}
{% block title %}Movie Details{% endblock %}

{% block content %}
<a href="/movies">Back to Movies</a><br>

<h2>{{ movie.title }}</h2>

Ratings:
<ul>
{% for rating in ratings %}
<li>{{rating.user_id }} : {{ rating.rating }}</li>
{% endfor %}
</ul>

{% if session %}

<p>Average rating: {{ average }}</p>
{% if prediction %}
    <p>We predict you will rate this movie {{ prediction }}.</p>
{% endif %}

{% if beratement %}
The mighty wise eye has spoken:
<h3>{{ judgment }}</h3>
<h2>{{ beratement }}</h2>
{% else %}
<h2>The eye is asleep.</h2>
{% endif %}

<form action="/add_rating" method="POST">
    <select name="rating">
        {% for num in range(1,6) %}
        <option value={{num}}> {{num}} </option>
        {% endfor %}
    </select>
    <input type="hidden" name="movie_id" value={{ movie.movie_id }} >
    <input type="submit" value="JUDGE AWAY">
</form>
{% endif %}

{% endblock %}