{% extends 'base.html' %}
{% block title %}Movie Details{% endblock %}

{% block content %}

<h2>{{ movie.title }}</h2>

Ratings:
<ul>
{% for rating in ratings %}
<li>{{rating.user_id }} : {{ rating.rating }}</li>
{% endfor %}
</ul>

{% if session %}
<form action="/add_rating" method="POST">
    <select name="rating">
        {% for num in range(1,6) %}
        <option value={{num}}> {{num}} </option>
        {% endfor %}
    </select>
    <input type="hidden" name="movie_id" value={{ movie.movie_id }} >
    <input type="submit" value="JUDGE AWAY">
</form>
{% endif %}

{% endblock %}